.main{
    text-align: center;
}


.img_player{
    background-color:  green;
}

.img_computer{
    background-color:  blue;
}

.img_hover{
    background-color:  rgba(82, 82, 82, 0.61);
}

.one_line {
    display: inline-block;
    

}
